__pycache__/
*.pyc
*.pyo
.env
venv/
.env*/
*.env
# others
*.pyd
.Python
build/
Develop-Eggs/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
# Mac-specific files
.DS_Store

module_performance.log
task_engine.log
